{% extends 'master.html' %}

{% block content %}
<div class="container">
    <form method="POST" action="{% url 'send' %}">
        {% csrf_token %}
        <div class="row">
            <p>Supported tags:</p>
        </div>
        <div class="row">
            <ul>
                <li>%name% - The victim's character name</li>
                <li>%killmail% - An in game link to the killmail, format is "Kill: (name) - (ship name)"</li>
                <li>%ship% - The name of the ship they died in</li>
            </ul>
        </div>
        <div class="row">
            <label for="mail-subject">Subject: </label><input type="mail-subject" class="form-control" id="mail-subject" name="mail-subject">
        </div>
        <div class="row">
            <label for="mail-body">Body:</label>
        </div>
        <div class="row">
            <textarea class="form-control" id="mail-body" name="mail-body" rows="3"></textarea>
        </div>
        <div class="row">
            <input class="form-check-input" type="checkbox" value="dryrun" name="dryrun" id="chk-dryrun" checked><label for="chk-dryrun">Dry run - If checked all mails will be sent to your character instead of the victims</label>
        </div>
        <div class="row">
            <button class="btn btn-outline-success" type="submit">Send {{mail_count}} Mail(s)</button>
        </div>
    </form>
</div>
{% endblock %}